<h1>View Recent Articles</h1>
<% @posts.each do |post| %>
	<h2><%= link_to post.post_title, post %></h2>
	<p><%= raw(post.post_content) %></p>
	<i> <%= time_ago_in_words(post.created_at) %> ago</i>
<% end %>
